@using ShopFilip.IdentityModels
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@model ShopFilip.Models.Login
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = ViewContext.RouteData.Values["action"].ToString();
}
@section CssLinks {
    <link rel="stylesheet" type="text/css" href="~/css/Login-Register-Edit.css">
}

@if (SignInManager.IsSignedIn(User))
{
    <div style="text-align:center; top: 50%; padding-top:20%;">
        <h1>You are already Logged In! 🤘</h1>
    </div>
}
else
{
    <h2 class="title-header">Zaloguj się!</h2>
    <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnurl="@Model.ReturnUrl" class="form-login-register">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label asp-for="Username" class="control-label">Nazwa użytkownika</label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div>

            <label asp-for="Password" class="control-label">Hasło</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>

        <div>
            <label asp-for="RememberMe" class="control-label">Zapamietaj w przeglądarce!</label>
            <input asp-for="RememberMe" />
            <span asp-validation-for="RememberMe"></span>
        </div>
        <div id="login-dont-have-account">
            <a asp-controller="Account" asp-action="Register">
                <input type="button" value="Nie masz konta?" class="btn btn-default" id="button-dont-haveaccount" />
            </a>
            <input type="submit" value="Login" class="btn btn-default" />
        </div>
    </form>
}



