@using ShopFilip.IdentityModels
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@model ShopFilip.Models.Register
@{
    ViewData["Title"] = ViewContext.RouteData.Values["action"].ToString();
}

@section CssLinks {
    <link rel="stylesheet" type="text/css" href="~/css/Login-Register-Edit.css">
}

@if (SignInManager.IsSignedIn(User))
{
    <div style="text-align:center; top: 50%; padding-top:20%;">
        <h1>Jesteś już zalogowany! 🤘</h1>
    </div>
}
else
{
    <h2 class="title-header">Rejestracja</h2>
    <form method="post" asp-controller="Account" asp-action="Register" class="form-login-register">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label asp-for="Username" class="control-label">Nazwa użytkownika</label>
            <input asp-for="Username" autocomplete="off" class="form-control" />
            <span asp-validation-for="Username"></span>
        </div>
        <div>
            <label asp-for="Name" class="control-label">Imie</label>
            <input asp-for="Name" id="text-to-upper" autocomplete="off" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Surname" class="control-label">Nazwisko</label>
            <input asp-for="Surname" id="text-to-upper" autocomplete="off" class="form-control" />
            <span asp-validation-for="Surname"></span>
        </div>
        <div>
            <label asp-for="Email" class="control-label">Email</label>
            <input asp-for="Email" autocomplete="off" class="form-control" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password" class="control-label">Hasło</label>
            <input asp-for="Password" autocomplete="off" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="PostalCode" class="control-label">Kod Pocztowy</label>
            <input asp-for="PostalCode" id="postalcode" maxlength="6" class="form-control" />
            <span asp-validation-for="PostalCode"></span>
        </div>
        <div>
            <label asp-for="Town" class="control-label">Miasto</label>
            <input asp-for="Town" autocomplete="off" class="form-control" />
            <span asp-validation-for="Town"></span>
        </div>
        <div>
            <label asp-for="Street" class="control-label">Ulica</label>
            <input asp-for="Street" autocomplete="off" class="form-control" />
            <span asp-validation-for="Street"></span>
        </div>
        <div>
            <label asp-for="PhoneNumber" class="control-label">Numer telefonu</label>
            <input asp-for="PhoneNumber" autocomplete="off" id="phone-number" maxlength="11" class="form-control" />
            <span asp-validation-for="PhoneNumber"></span>
        </div>
        <div>
            <input type="submit" value="Register" class="btn btn-default" id="button-login-register" />
        </div>
    </form>
}
@section Scripts {
    <script src="https://unpkg.com/imask"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/InputSpecialFill.js"></script>
}


