@model ShopFilip.Models.Product
@section CssLinks {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Add-edit-product.css">
}
@{
    ViewData["Title"] = ViewContext.RouteData.Values["action"].ToString();
}
<div class="container">
    <h1>Dodaj nowy produkt</h1>
    <form>
        <div class="row">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input hidden id="idOfProoduct" value="" />
                <div class="form-group">
                    <h4>Nazwa</h4>
                    <input asp-for="@Model.Name" id="name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h4>Cena</h4>
                    <input asp-for="Price" id="price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="container">
                        Mężczyzna
                        <input type="radio" checked="checked" name="gender" value="1">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        Kobieta
                        <input type="radio" name="gender" value="0">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="form-group">
                    <h4>Rozmiary</h4>
                    <label class="container">
                        M
                        <input class="size-container" type="checkbox" name="size" value="0">
                        <input style="display:none" min="0" type="number" name="quantity">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        L
                        <input class="size-container" type="checkbox" name="size" value="1">
                        <input style="display:none" min="0" type="number" name="quantity">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        XL
                        <input class="size-container" type="checkbox" name="size" value="2">
                        <input style="display:none" min="0" type="number" name="quantity">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        XXL
                        <input class="size-container" type="checkbox" name="size" value="3">
                        <input style="display:none" min="0" type="number" name="quantity">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="form-group">
                    <h4>Grupa</h4>
                    <label class="container">
                        <input type="radio" checked="checked" name="group" value="1">
                        Koszule
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        <input type="radio" name="group" value="0">
                        Spodnie
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        <input type="radio" name="group" value="3">
                        T-Shirt
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        <input type="radio" name="group" value="2">
                        Kurtki
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <h4>Opis</h4>
                    <textarea asp-for="Description" id="description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="label" for="gallery-photo-add">Dodaj zdjęcia</label>
                    <input type="file" multiple id="gallery-photo-add">
                    <div class="gallery">

                    </div>
                </div>

                <div class="form-group">
                    <input asp-for="Table" id="table-photo-add" value="Table" hidden>
                    <div id="table-added">

                    </div>
                </div>
                <p><a class="button-style" href="#modal-open" id="add-table" rel="modal:open">Dodaj tabele</a></p>
            </div>

        </div>
    </form>
    <div id="modal-open" class="modal">
        <p>Wybierz już istniejącą tabele</p>
        <div id="photos">

        </div>
        <a class="button-style" href="#" rel="modal:close" id="button-add-table">Add Table</a>
        <label class="label" for="add-new-table">Dodaj Nową tabele</label>
        <input type="file" id="add-new-table">
    </div>

    <div style="display: flex; width: 100%">
        <div style="width:50%;padding-top:10px;display:flex;justify-content:flex-start">
            <button class="btn" id="cancel" type="submit" onclick="goBack()">
                Anuluj
            </button>
        </div>
        <div style="width:50%;padding-top:10px;display:flex;justify-content:flex-end;">
            <button class="btn" type="submit" id="submit-form">
                Zapisz!
            </button>
        </div>
    </div>
</div>

<div class="modal" id="modal-set-center">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="text-align:center">Zaktualizowano pomyślnie!</p>
            </div>
            <button type="button" onclick="location.href='@Url.Action("Index", "Admin")'" class="btn btn-default" data-dismiss="modal">Zamknij i zapisz</button>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/CustomJavaScripts.js"></script>
    <script src="~/js/AddEditProduct.js"></script>
    <script src="~/js/AddProduct.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
}