.MainText {
    text-align: center;
}

.Login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.button {
    display: flex;
    align-items: center;
    margin: 10px;
}

#button-login-register {
    margin-top: 0.5rem;
}

#login-dont-have-account {
    padding-bottom:10px;
    display: flex;
    justify-content: space-between;
}
