#products {
    display: flex;
    flex-wrap:wrap;
}

#products .card:hover {
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}
.carousel-item a {
    display: block;
    width: 100%;
}

.form-container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 {
    color: grey;
    padding-top: 50px;
}

.product-grid {
    padding-bottom: 20px;
    padding-top: 20px;
}

    .product-grid:hover {
        box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

.image {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(67,68,68,0.7);
}

.image:hover .overlay {
    opacity: 1;
}

.info {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
}

.buy {
    background-color: transparent;
    color: gray;
    border-radius: 0;
    border: 1px solid #434444;
    width: 100%;
    margin-top: 20px;
}

    .buy:hover {
        background-color: #434444;
        color: #fff;
    }

.text {
    color: darkslategrey;
    font-size: 50px;
}

#ads {
    margin: 30px 0 30px 0;
}

    #ads .card-notify-badge {
        position: absolute;
        left: -10px;
        top: -20px;
        background: #f2d900;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #000;
        padding: 5px 10px;
        font-size: 14px;
    }

    #ads .card-notify-year {
        position: absolute;
        right: -10px;
        top: -20px;
        background: #ff4444;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 14px;
        width: 50px;
        height: 50px;
        padding: 15px 0 0 0;
    }

    #ads .card-notify-new {
        position: absolute;
        left: -10px;
        top: -20px;
        background: #ff4444;
        border-radius: 50%;
        text-align: center;
        color: yellow;
        font-size: 14px;
        width: 50px;
        height: 50px;
        padding: 15px 0 0 0;
    }

    #ads .card-detail-badge {
        background: #f2d900;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #000;
        padding: 5px 10px;
        font-size: 14px;
    }



    #ads .card:hover {
        background: #fff;
        box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
        border-radius: 4px;
        transition: all 0.3s ease;
    }

    #ads .card-image-overlay {
        font-size: 20px;
    }


        #ads .card-image-overlay span {
            display: inline-block;
        }


#ads .ad-btn {
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    border-radius: 80px;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    border: 3px solid #e6de08;
    display: block;
    text-decoration: none;
    margin: 20px auto 1px auto;
    color: #000;
    overflow: hidden;
    position: relative;
    background-color: #e6de08;
}

#ads .ad-btn:hover {
    background-color: #e6de08;
    color: #1e1717;
    border: 2px solid #e6de08;
    background: transparent;
    transition: all 0.3s ease;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
}

#ads .ad-title h5 {
    text-transform: uppercase;
    font-size: 18px;
}

.card-image {
    height: 380px;
    overflow: hidden;
}

.input-li {
    float: left;
    margin: 0 3px 3px auto;
    padding: 1px;
    position: relative;
}

dropdownMan:hover {
    display: block;
}

dropdownWoman:hover {
    display: block;
}

.bb {
    background-color: #434444;
    color: white;
}

.text-white {
    border-radius: 0.25rem;
}

.dropdown-item:hover {
    background-color: #434444;
    color: white;
}

.color-combobox {
    background-color: #434444;
    color: white;
}

.text-white {
    border-radius: 0.25rem;
}

.dropdown-item:hover {
    background-color: #434444;
    color: white;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
.containeraaa {
    padding-bottom: 5.5rem;
    margin-left: auto;
    margin-right: auto;
}
.rowa
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5.5rem;
    background-color: #f8f9fa;
    padding-top: 10px;
    border-top: 4px #434444 solid;
    padding-left: 40px;
    padding-top: 2.5rem;
}

.searching-place label {
    display: inline-block;
    padding-right: 10px;
    white-space: nowrap;
}

.searching-place input {
    vertical-align: middle;
}

.searching-place label span {
    vertical-align: middle;
}

#search {
    width: 80%;
}

.searching-place {
    padding: 20px;
    text-align: left;
}

#paged{
    padding-top:20px;
}
